<script setup lang="ts">
import { ref } from "vue";
const message = ref("Hello World");
function reverseMessage() {
  message.value = message.value.split(" ").reverse().join(" ");
}
function notify() {
  alert("navigation was prevent.");
}
</script>
<template>
  <div>
    <h1>{{ message }}</h1>
    <button @click="reverseMessage">Reverse Message</button>
    <button @click="message += '!'">Append "!"</button>
    <a ref="https://vuejs.org" @click.prevent="notify"
      >A link with e.preventDefault</a
    >
  </div>
</template>
<style scoped>
button,
a {
  display: block;
  margain-bottom: 1em;
}
</style>
