<script setup lang="ts">
import { RouterLink, RouterView } from "vue-router";
import HelloWorld from "./components/HelloWorld.vue";
import CalComponent from "./components/CalComponent.vue";
import HelloWorldExample from "./components/HelloWorldExample.vue";
import HandlingUserInput from "./components/HandlingUserInput.vue";
import AttribureBindings from "./components/AttribureBindings.vue";
import ConditionsAndLoops from "./components/ConditionsAndLoops.vue";
import FormBindings from "./components/FormBindings.vue";
import SimpleComponent from "./components/SimpleComponent.vue";
</script>

<template>
  <div>
    <ConditionsAndLoops />
    <CalComponent />
    <HelloWorldExample />
    <HandlingUserInput />
    <AttribureBindings />
    <FormBindings />
    <SimpleComponent />
  </div>
</template>

<style scoped></style>
